.late-in-early-out {
    /* margin-top: 15px; */
    padding: 20px;
}

.multi-remove,
.top-content {
    display: flex;
    align-items: center;
    height: 30px;
}

.clear-selected {
    margin: 0 10px 0 15px;
    color: var(--tab-color);
    /* font-size: 12px; */
    cursor: pointer;
    font-style: italic;
}

.btn-multi-remove {
    color: var(--tab-color) !important;
    border-color: var(--button-primary-normal-border-color) !important;
}

.top-content-left {
    display: flex;
    align-items: center;
}

.content-status {
    display: flex;
}

.top-content-right {
    display: flex;
    position: absolute;
    right: 20px;
}

.content-left-text {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: 40px;
}

.status-text {
    color: rgb(170, 168, 168);
    margin-right: 5px;
}

.status-dropdown {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    background-color: #eee;
}

.status-dropdown::after {
    background-color: #ccc !important;
    border: none !important;
}

.btn-add {
    margin: 0 8px;
}

.btn-add:hover {
    background-color: var(--button-primary-hover-bg-color);
}

.bg-color {
    background: var(--button-primary-normal-bg-color);
}

.bg-color-filter {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 0 9px;
    /* margin-right: 5px; */
}

.content-feature {
    display: flex;
    position: relative;
}

.input1 {
    width: 240px;
}