.late-in-early-out {
    /* margin-top: 15px; */
    padding: 25px;
}

.top-content {
    display: flex;
    align-items: center;
}

.top-content-left {
    display: flex;
    align-items: center;
}

.content-status {
    display: flex;
}

.top-content-right {
    display: flex;
    position: absolute;
    right: 20px;
}

.content-left-text {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: 40px;
}

.status-text {
    color: rgb(170, 168, 168);
    margin-right: 5px;
}

.status-dropdown {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    background-color: #eee;
}

.status-dropdown::after {
    background-color: #fff;
    border: none;
}

.btn-add {
    margin: 0 8px;
}

.bg-color {
    background: var(--button-primary-normal-bg-color);
}

.bg-color-filter {
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #ccc;
}

.content-feature {
    display: flex;
    position: relative;
}

.input1 {
    width: 240px;
}