.ms-grid {
    margin-top: 20px;
    /* height: calc(100vh - 110px); */
}


/* #columnChooser {
    position: absolute;
    left: 0;
} */


/* .dx-toolbar-after {
    padding-left: 0 !important;
    left: 0 !important;
} */


/* .dx-datagrid-column-chooser {
    transform: none !important;
} */