#ms-grid {
    margin-top: 20px;
    width: 100%;
    position: relative;
}

#gridContainer {
    border-radius: 4px;
}

.dx-datagrid {
    z-index: 0;
}

.custome-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.c-column-text {
    font-size: 20px;
    font-weight: 600;
}

.c-column-close {
    font-size: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.custome-footer {
    display: flex;
    position: absolute;
    bottom: 20px;
    align-items: center;
    padding: 0 5px;
    width: calc(100% - 40px);
    justify-content: space-between;
}

.btn-apply {
    padding: 0 31px;
}

.custome-body {
    margin-top: 15px;
    height: 270px;
    overflow-y: scroll;
}

.custome-element {
    display: flex;
    align-items: center;
    position: relative;
}

.custome-element:hover {
    background-color: var(--primary-bg);
}

.dx-checkbox.dx-state-hover .dx-checkbox-icon,
.dx-checkbox-icon {
    border: 2px solid #aaa;
}

.col-actions {
    display: flex;
    /* align-items: center; */
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* #columnChooser {
    position: absolute;
    left: 0;
} */


/* .dx-toolbar-after {
    padding-left: 0 !important;
    left: 0 !important;
} */


/* .dx-datagrid-column-chooser {
    transform: none !important;
} */

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 12px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 6px;
    left: 2px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 2px;
    border: 2px solid #bbb;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #FA6001;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dx-checkbox-indeterminate .dx-checkbox-icon::before,
.dx-checkbox-checked .dx-checkbox-icon::before {
    background-color: #FA6000;
    color: #fff;
}

.dx-datagrid-rowsview .dx-row.dx-row-lines {
    padding: 14px;
}

.dx-datagrid {
    border-radius: 4px;
}

#ms-grid td {
    border-right: none !important;
    padding: 14px !important;
}


/* .dx-datagrid-rowsview .dx-row.dx-row-lines:hover>td,
.dx-datagrid-rowsview .dx-row.dx-row-lines:hover {
    cursor: pointer;
    background-color: var(--date-picker-hover-bg);
} */

.dx-datagrid-table .dx-data-row.dx-state-hover {
    cursor: pointer;
    background-color: var(--date-picker-hover-bg) !important;
    height: 45px;
    padding: 14px !important;
}


/* #ms-grid td:hover {
    background-color: var(--date-picker-hover-bg);
} */

.dx-datagrid-headers .dx-datagrid-table .dx-row>td {
    padding: 14px;
    font-size: 14px !important;
    font-weight: 700;
}

.dx-header-row>td>.dx-datagrid-text-content,
.dx-datagrid-rowsview .dx-row.dx-row-lines>td {
    font-size: 14px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.dx-datagrid.dx-datagrid-borders>.dx-datagrid-pager {
    /* margin-top: 1px; */
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin-top: 0 !important;
}

.dx-datagrid-borders>.dx-datagrid-headers {
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}

.dx-datagrid-checkbox-size.dx-checkbox-indeterminate .dx-checkbox-icon {
    border-color: #FA6000;
}


/* Custome scroll bar*/

.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll {
    height: 12px;
    background: #f1f1f1!important;
}

.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll {
    width: 8px;
    height: 100%;
    background: #f1f1f1!important;
}

.dx-scrollable-scroll-content {
    width: 100%;
    height: 100%;
    background: #9e9e9e!important;
    border-radius: 10px;
}


/*Custome paging*/

.paging {
    border: 1px solid #ddd;
    height: 50px;
    border-top: none;
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0 0 4px 4px;
}

.paging-left {
    margin-left: 20px;
}

.paging-right {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

.paging select {
    width: 55px;
    height: 34px;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.from-to {
    margin: 0 30px;
}