.target-icon {
    mask-image: url('../../assets/Resource/icon/Icon.569cfdf.svg');
    width: 18px;
    height: 18px;
    mask-position: -196px -28px;
    mask-repeat: no-repeat;
    background-color: #fff;
}

.toggle-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -3px -123px;
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.notifications-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -267px -2px;
    width: 18px;
    height: 20px;
    margin: 0 20px;
}

.filter-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -244px -51px;
    width: 16px;
    height: 18px;
    margin-right: 0 !important;
}

.search-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -122px -4px;
    width: 18px;
    height: 15px;
    margin: auto 5px;
    margin-right: 0 !important;
}


/* .dx-icon-column-chooser {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -242px -26px;
    width: 20px;
    height: 20px;
} */

.custome-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -242px -26px;
    width: 20px;
    height: 20px;
    z-index: 9999;
    margin: auto;
}

.menu-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -315px -78px;
    width: 18px;
    height: 12px;
    position: absolute;
    right: 5px;
}

.logo-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat 0 -72px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}