.target-icon {
    mask-image: url('../../assets/Resource/icon/Icon.569cfdf.svg');
    width: 18px;
    height: 18px;
    mask-position: -196px -28px;
    mask-repeat: no-repeat;
    background-color: #fff;
}

.toggle-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -3px -123px;
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.notifications-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -267px -2px;
    width: 18px;
    height: 20px;
    margin: 0 20px;
}

.filter-icon {
    mask-image: url('../../assets/Resource/icon/Icon.569cfdf.svg');
    width: 16px;
    height: 18px;
    mask-position: -244px -51px;
    mask-repeat: no-repeat;
    margin-right: 0 !important;
    background-color: #6a6868;
}


/* .filter-icon:hover {
    background-color: red;
} */

.search-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -122px -4px;
    width: 18px;
    height: 15px;
    margin: auto 5px;
    margin-right: 0 !important;
}


/* .dx-icon-column-chooser {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -242px -26px;
    width: 20px;
    height: 20px;
} */

.custome-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -242px -26px;
    width: 20px;
    height: 20px;
    z-index: 9999;
    margin: auto;
}

.menu-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -315px -78px;
    width: 18px;
    height: 12px;
    position: absolute;
    right: 5px;
}

.logo-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat 0 -72px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.dx-datagrid-table .dx-data-row.dx-state-hover .remove-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -170px -26px;
    width: 20px;
    height: 20px;
    /* margin-bottom: 3px; */
}

.remove-icon1 {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -170px -26px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.dx-datagrid-table .dx-data-row.dx-state-hover .edit-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -291px -26px;
    width: 18px;
    height: 20px;
    /* margin: 0 10px;
    margin-bottom: 3px; */
    margin: 0 10px;
}

.dropdown-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -220px -54px;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 0;
}

.dx-numberbox-spin-down-icon::before,
.dx-dropdowneditor-icon::before {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -199px -9px;
    width: 10px;
    height: 6px;
    content: "" !important;
    margin-top: -3px;
    margin-left: -5px;
}

.dx-numberbox-spin-up-icon::before {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -199px -9px;
    width: 10px;
    height: 6px;
    content: "" !important;
    transform: rotate(180deg);
    margin-top: -3px;
    margin-left: -5px;
}

.close-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -30px -54px;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 2px;
    top: -7px;
}

.pre-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -224px -5px;
    width: 7px;
    height: 14px;
    margin-right: 30px;
}

.next-icon {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -249px -5px;
    width: 7px;
    height: 14px;
}

.mi-icon-error {
    mask-image: url('../../assets/Resource/icon/Icon.569cfdf.svg');
    width: 20px;
    height: 20px;
    mask-position: -242px -74px;
    mask-repeat: no-repeat;
    background-color: var(--input-error-border-color);
    position: absolute;
    right: 33px;
    top: -1px;
    z-index: 99;
}

.row-date .mi-icon-error {
    right: 40px;
}

.row-textarea .mi-icon-error {
    right: 10px;
}

.mi-icon-error~.dx-texteditor.dx-editor-outlined {
    border-color: var(--input-error-border-color);
}

.mi-icon-error~div input {
    border-color: var(--input-error-border-color);
}

.border-error {
    border-color: var(--input-error-border-color);
}


/* .dx-dropdowneditor-icon::before {
    content: '\F078';
} */

.mx-icon-calendar {
    background: url('../../assets/Resource/icon/Icon.569cfdf.svg') no-repeat -50px -25px;
    width: 20px;
    height: 22px;
}

.mx-icon-calendar svg {
    display: none;
}